[Unit]
Description=Rete Webapp (Next.js)
After=network.target

[Service]
Type=simple
User=otus
Group=otus
WorkingDirectory=/home/otus/otusio/retentio-webapp

Environment=NODE_ENV=production
Environment=PORT=3000

ExecStart=/bin/bash /home/otus/otusio/retentio-webapp/utils/run-prod.sh

Restart=always
RestartSec=10
StartLimitIntervalSec=300
StartLimitBurst=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=retentio-webapp

[Install]
WantedBy=multi-user.target
